body {
    margin: 0;
    padding: 0;
    background: none;
}

.name {
    background-color: #533213;
    color: white;
    padding: 3px 5px;
    font-size: 24px;
}

.infos {
    padding: 3px 5px;
    border: 1px solid #533213;
    margin-bottom: 8px;
}

.main {
    padding: 3px 5px;
}

.title {
    background-color: #533213;
    color: white;
    padding: 3px 5px;
    margin-top: 8px;
    margin-bottom: 2px;
}