<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.pathfinderfr">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".app.character.CharacterSheetActivity"
            android:label="@string/title_activity_character_sheet"
            android:parentActivityName=".app.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.pathfinderfr.app.MainActivity" />
        </activity>
        <activity
            android:name=".app.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".app.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.pathfinderfr.app.MainActivity" />
        </activity>
        <activity
            android:name=".app.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".app.LoadDataActivity"
            android:label="@string/title_activity_load_data"
            android:parentActivityName=".app.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.pathfinderfr.app.MainActivity" />
        </activity>
        <activity
            android:name=".app.character.GeneratePDFActivity"
            android:label="@string/title_activity_generate_pdf"
            android:parentActivityName=".app.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.pathfinderfr.app.MainActivity" />
        </activity>
        <activity
            android:name=".app.TreasureActivity"
            android:label="@string/title_activity_treasure"
            android:parentActivityName=".app.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.pathfinderfr.app.MainActivity" />
        </activity>
        <activity
            android:name=".app.ImportCharacterActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>

                <!-- needed for properly formatted email messages -->
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.pfc"
                    android:scheme="content" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>

                <!-- needed for properly formatted email messages -->
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.pfc"
                    android:scheme="file" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="org.pathfinderfr.app.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>